---
layout: nil
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | escape }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_head }}
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QK9HEXL5JF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QK9HEXL5JF');
    </script>
  </head>

  <body>
    <div class="page-content container">
      {{ content }}
    </div>
  </body>
</html>
